@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');


html, body{
  scroll-behavior: smooth;
  width:100%;
  height:100%;
  margin:0px;
  padding:0%;
  font-family:Arial, Helvetica, sans-serif;
}
body:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background:url(../pictures/background-image.jpg) center no-repeat;
  background-size:cover;
}

*{
  box-sizing: border-box;
  list-style:none;
}


/* ------------------------Language----------------------------- */
.Japanese{
  font-family: 'Noto Sans JP', sans-serif;
}

.Japanese{
  display:none;
}

.active{
  background-image: linear-gradient(180deg, #5f9ea0, #008080  );
  text-shadow: 0 1px 0px #79485f7a;
}
/* ------------------------Language----------------------------- */

/* ------------------------header ------------------------------ */

header {
  width: 100%;
  height: 50px;
  background-color:rgba(50, 104, 138, 0.584);
  position: fixed;
  z-index:2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header-contents{
  height:50px;
  width:660px;
  margin:0 auto;
  text-align: center;
  display:flex;
}

.language-switch,.header-name, .navigator{
  display:inline-block;
  height:100%;
  width:calc(100% / 3);
  position:relative;
}

.switch{
  width:120px;
  text-align: center;
  height:36px;
  display:flex;
  position:absolute;
  left:0px;
  top:7px;
}
.select-lang{
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  height:100%;
  color:#fff;
  background-color: #454857;
  border:4px solid #454857;
  text-shadow: 0 1px 0px #79485f7a;
  line-height: 28px;
  font-size:14px;
  width:56px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
      
}

.en{
  border-radius:0 8px 8px 0;
  border-left:none;
}
.ja{
  border-radius:8px 0 0 8px ;
  border-right:none;
}

.logo{
  color:rgb(185, 220, 240);
  font-size:26px;
  line-height:50px;
  margin:0 auto;
  font-family:Ink Free;
}
.Japanese .header-name .logo{
  font-family: HGP行書体;
}


.checkbtn{
  width:40px;
  height:40px;
  position:absolute;
  margin-top:auto;
  top:4px;
  right:5px;
  display:inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.checkbtn img{
 max-width: 100%;
}

.header-contents ul{
  width:120px;
  position:fixed;
  top:34px;
  background-color: #34363bdc;
  min-height:100vh;
  left:0;
  display:none;
  text-align: center;
  z-index:999;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.header-contents li{
  margin:30px 0;
  margin-left:-50%;
  cursor: pointer;
  
}
.header-contents ul li a{
  padding:20px 0;
  display:inline-block;
  width:100%;
  color:white;
  text-transform: uppercase;
  font-size:13px;
  transition: all 0.1s;
}
/* ------------------------header ------------------------------ */

/* ----------------------main---------------------------- */

.main{
    padding-top:1px;
    width: 100%;
    min-height: 100vh;
    color:rgb(78, 76, 76);
}

.link{
  width:100;
  height:1px;
  padding-top:100px;
  margin-top:-100px
}

.contents{
  width:660px;
  margin:0 auto;
}

a{
  text-decoration: none;
}

.catch {
  font-size:25px;
  padding:1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family:Lucida Sans;
}


.catch:before, .catch:after {
  content: "";
  width: 5em;
  border-top: 3px solid rgb(77, 146, 206);
  }

.catch:before {
  margin-right: 1em;
}

.catch:after {
  margin-left: 1em;
}

section p{
  line-height: 25px;
}

.time-line .catch:before,   .time-line .catch:after{
  width: 6em;
}

.portfolios .portfolio:before,    .portfolios .portfolio:after{
  width: 5.5em;
}

.introduction,.portfolios,.coding-skills,.my-interests{
  padding:1em 3em;
  margin-bottom:6em;
}

/* ----------------------main---------------------------- */


/* ----------------------top page---------------------------- */

.top-page{
  height:100vh;
  text-align:center;
  position:relative;
}
.top-page .myname{
  position:absolute;
  top:45%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  font-size:35px;
  color:azure;
  font-family:Ink Free;
  text-shadow:3px 3px 2px rgb(23, 18, 18);
}
.Japanese .top-page .myname{
  font-family: HGP行書体;
}


.top-page .myname p{
  margin-top:-20px;
  font-size:30px;
}
/* ----------------------top page---------------------------- */

/* --------------------introdcution------------------------------ */
.introduction{
  background-color:rgb(225, 217, 217, 0.9);
  position:relative;
}

.introduction-image{
  text-align: center;
}


.introduction img{
  width:100%;
  height:auto;
  opacity:0.7;
  border: double 5px  rgb(17, 131, 169);
  text-align: center;
  margin-top:20px;
  display:inline-block;
}
.introduction .name{
  font-size:22px;
  color:rgb(50, 50, 50);
  text-shadow:3px 3px 2px silver;
  font-family:Georgia;
  position:absolute;
  top:30%;
  left:10%;
}


.Japanese .introduction .name{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  top:30%;
  left:15%;
}

.introduction .name span{
  font-weight:bold;
  font-size:30px;
  display:inline-block;
  padding:10px 0;
}

.introduction-writing {
  font-size:18px;
  line-height:36px;
}

.Japanese .introduction-writing {
  font-size:16px;
}

/* --------------------introdcution------------------------------ */

/* ---------------------- time line---------------------------- */
.time-line{
  background-color: #337896ea;
  margin-bottom:6em;
  padding:1em 2em;
}
.time-line .catch{
  color :white;
}

.lists {
  font-size:16px;
  width:100%;
}
 .lists li {
  list-style: none;
  border-left: 1px dashed #fff;
  padding: 0 0 30px 30px;
  position: relative;
}

.lists li:last-child {
  border-left: 0;
}

.lists li::before {
  position: absolute;
  left: -8px;
  top: 0px;
  content: "";
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  background: #125c95;
  height: 9px;
  width: 9px;
}

.lists li .year {
  color: #50d890;
  width: 100px;
  font-size: 12px;
  float:left;
  font-size:15px;
}

.timeline-item {
  color: #fff;
  margin-left:5em;
  text-indent: -1.4em;
}
/* ---------------------- time line---------------------------- */




/* -----------------------coding skills--------------------- */


.coding-skills{
  background-color:rgb(225, 217, 217, 0.9);
}

.coding-skills-content{
  margin-top:20px;
  display:flex;
}

.graph {
	position: relative;
  margin:0 auto;
  margin-top:10px;
	width: 180px;
	height: 180px;
	background-image: conic-gradient(#0b1f86b0 0% 40%, #359070a2 40% 60%, rgba(143, 165, 91, 0.571) 60% 80%,rgba(142, 89, 73, 0.639) 80% 100% );
	border-radius: 50%;

}
.graph img{
  max-width:20%;
  height:auto;
  transform: translateY(-50%);
  position: absolute;
}

.content-left .python {
	top: 45%;
	right: 25px;
}
.content-left .cpp{
  top:80%;
  right:40%;
}
.content-left .java{
  top:60%;
  right:70%;
}
.content-left .html-css{
  top:25%;
  right:63%;
}

.content-left{
  width:50%;
  height:200px;
}
/* -------------------------------------------- */

.content-right .HTML-CSS img{
  height:60%;
  margin-left:36px;
  margin-right:14px;
}

.item{
  height:calc(100% / 4);
}

 .content-right img{
  height:70%;
  padding: 0;
  margin:0 20px 0  40px;;
  vertical-align: middle;
  display:inline-block;
 }
 .content-right p{
  display:inline-block;
  font-size:15px;

 }
 .content-right{
  height:200px;
  width:50%;
}

.btn{
  display:block;
  padding:5px 40px;
  color:white;
  font-size:20px;
  width:220px;
  text-align: center;
  margin:30px auto;
  margin-top:50px;
  opacity:0.8;
  background-color:#13485e;
  border-radius:5px;
  box-shadow:0 5px rgb(5, 5, 35);

}
.Japanese .btn{
  font-size:16px;
  width:230px;
  padding:5px 20px;
}
.btn:hover{
  opacity:1;
}
.btn:active{
  box-shadow: none;
  position: relative;
  top:5px;
}
.button img{
  margin-left:10px;
  width:16px;
}
/* -----------------------coding skills--------------------- */

/* ------------------- portfolios ---------------------------- */

.portfolios{
  background-color:#337896ea;
  padding-bottom:3rem;
}

.portfolios .catch{
  color :white;
}

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.tabs{
  width:100%;
  max-width:600px;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  /* border-bottom:1px solid rgba(225, 217, 217, 0.012); */
  background:rgb(118, 114, 114);
  display:inline-block;
  color:#fff;
  border-radius:5px 5px 0px 0px;
}
.panels{
  background:rgb(225, 217, 217, 0.9);
  min-height:10px;
  width:100%;
  max-width:600px;
  border-radius:0px 5px 5px 5px;
  overflow:hidden;
  padding:10px;
}
.panel{
  display:none;
  padding:10px 30px;
}
.is-show{
  display:block;
}


.is-active{
  background:rgb(225, 217, 217, 0.9);
  color:#000;
}
.tab:hover{
  background:rgb(82, 79, 79);;
 }
.is-active:hover{
  background:rgb(225, 217, 217, 0.9);
}

.radio{
  display:none;
}



.panel img{
  width:100%;
}
.work{
  margin:60px 0px;
}
.title{
  font-size:25px;
}
.Japanese .title{
  font-size:22px;
}

/* ------------------- portfolios ---------------------------- */





/* ----------------------- Interests --------------------------- */
.my-interests{
  background-color:rgb(225, 217, 217, 0.9);
}
.pictures{
  width:100%;
  height:700px;
  margin:0 auto;
  position:relative;
}
.pic{
  position: absolute;
  opacity:0.6;
  transition: transform .9s ease; 
}
.pic:hover{
  opacity:1;
  transform: scale(1.05);
}
.pic img{
  max-width: 100%;
  display:block;
}
.bridge{
  width:150px;
  top:230px;
  left:220px;
}
.fire{
  width:130px;
  top:355px;
  left:15px;
}
.sunset{
  width:140px;
  top:450px;
  right:117px;
}
.forest{
  width:165px;
  top:452px;
  left:128px;
} 
.daihuku{
  width:150px;
  top:225px;
  right:30px;
}
.sunset-with-sign{
  width:120px;
  top:330px;
  right:60px;
}
.airplane{
  width:55px;
  top:450px;
  right:55px;
}
.asai{
  width:130px;
  top:55px;
  left:165px;
}
.winery{
  width:160px;
  top:10px;
  right:90px;
}
.rose{
  width:60px;
  top:360px;
  left:153px;
}
.breakfast{
  width:85px;
  top:110px;
  left:70px;
}
.art{
  width:150px;
  top:235px;
  left:60px;
}
/* ----------------------- Interests --------------------------- */




/* ----------------------- Footer --------------------------- */

footer{
  background-color:#4a6067f0   ;
  width:100%;
  height:280px;
}


footer .contents{
  width:660px;
  margin:0 auto;
  height:100%;
  padding:10px;
}

.contact{
  border-bottom:2px solid rgb(179, 178, 178);
  width:200px;
  margin:0 auto;
  height:40px;
  line-height: 40px;
  text-align: center;
  font-size:30px;
  color:rgb(221, 218, 218);
}
.Japanese .contact{
  font-size:25px;
}

.address{
  padding-top:10px;
  width:330px;
  height:120px;
  margin:0 auto;
  margin-bottom:20px;
}

.email, .phone{
  width:100%;
  height:50px;
  line-height:50px;
  font-size:23px;
  color:rgba(230, 224, 224, 0.865);
}

.email img, .phone img{
  vertical-align: middle;
  margin-right:20px;
  width:30px;
  height:auto;
}


.social-medias{
  width:250px;
  height:70px;
  margin:0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  
}
.social-media{
  float:left;
  text-align: center;
  width:calc(100%/3);
  height:100%;
}
.social-media-icon{
  width:90%;
  height:90%;
  display:inline-block;
}
.social-media-icon img{
  width:50%;
  height:auto;
}
.social-media-name{
  width:80%;
  font-size:10px;
  color:#fff;
  background-color:#454857;
  overflow:hidden; 
  border-radius: 10px;
  line-height:16px;
  display:none;
  margin:0 auto;
  transition:2s;
  margin-top:-15px;
}




/* ----------------------- Footer --------------------------- */